SENDER_EMAIL=adrian@voxlumedia.com
SENDER_PASSWORD="Adrian_080808"
FONNTE_TOKEN=MASUKKAN_TOKEN_FONNTE_ANDA_DISINI
GHL_API_KEY="Bearer MASUKKAN_GHL_PRIVATE_TOKEN_ANDA"
GHL_LOCATION_ID=MASUKKAN_GHL_LOCATION_ID_ANDA
