SMTP_SERVER=smtp.hostinger.com
SMTP_PORT=465
SENDER_EMAIL=adrian@voxlumedia.com
SENDER_PASSWORD=Adrian_080808
FONNTE_TOKEN=TOKEN_ASLI_FONNTE_ANDA
GHL_API_KEY=Bearer TOKEN_ASLI_GHL_ANDA
GHL_LOCATION_ID=ID_LOCATION_GHL_ANDA
