SENDER_EMAIL=email_anda@gmail.com
SENDER_PASSWORD="password_app_gmail_anda"
FONNTE_TOKEN=MASUKKAN_TOKEN_FONNTE_ANDA_DISINI
GHL_API_KEY="Bearer MASUKKAN_GHL_PRIVATE_TOKEN_ANDA"
GHL_LOCATION_ID=MASUKKAN_GHL_LOCATION_ID_ANDA
